:root {
  --white: #ffffff;
  --purple: #7165e3;
  --gray: #4b4b4b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.main {
  width: 450px;
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
